<div class="home-container">
  <div class="sidebar">
    <h2>Для початку давай оберемо тип свята, який ти хочеш організувати</h2>
    <img src="path/to/character.png" alt="Character" class="character"/>
  </div>
  <div>
    <mat-stepper class="stepper" #stepper>
      <mat-step [stepControl]="formGroup">
        <form [formGroup]="formGroup" class="type-buttons-container">
          <div>
            <mat-grid-list cols="3" rowHeight="2:1" class="button-container">
              <mat-grid-tile *ngFor="let type of holidayTypes" class="button-grid">
                <div (click)="setType(type)" class="image-container">
                  <img ngSrc="{{getTypeImage(type)}}" height="140" width="250" alt="{{getTypeName(type)}}"/>
                  <div class="centered-text">{{ getTypeName(type) }}</div>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="formGroup">
        <form [formGroup]="formGroup" class="type-buttons-container">
          <mat-form-field>
            <mat-label>Оберіть дату</mat-label>
            <input formControlName="date" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </form>
        <button (click)="saveState()" mat-button matStepperNext>Далі</button>
      </mat-step>
      <mat-step [stepControl]="formGroup">
        <form [formGroup]="formGroup" class="type-buttons-container">
          <mat-form-field>
            <mat-label>Опції</mat-label>
            <mat-select formControlName="options" multiple>
              @for (option of options$ | async; track option) {
                <mat-option [value]="option">{{option.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <button (click)="saveState()" mat-button matStepperNext>Далі</button>
        </form>
      </mat-step>
      <mat-step [stepControl]="formGroup">
        <form [formGroup]="formGroup" class="type-buttons-container">
          <mat-form-field>
            <mat-label>Гості</mat-label>
            <mat-select formControlName="guests" multiple>
              @for (guest of guests$ | async; track guest) {
                <mat-option [value]="guest">{{guest.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <button (click)="saveState()" mat-button matStepperNext>Далі</button>
        </form>
      </mat-step>
      <mat-step [stepControl]="formGroup">
        <form [formGroup]="formGroup" class="type-buttons-container">
          <mat-form-field>
            <mat-label>Назва</mat-label>
            <input matInput formControlName="name" placeholder="День народження кролика">
          </mat-form-field>
          <button (click)="save()" mat-button matStepperNext>Зберегти</button>
        </form>
      </mat-step>
    </mat-stepper>
  </div>
</div>
