/* You can add global styles to this file, and also import other style files */

html, body {
  background: #8ECAE6;
  height: 100%;
}

body {
  margin: 0;
  font-family: Impact, "Helvetica Neue", sans-serif;
}
